

@{
    ViewBag.Title = "Home Page";
    HostMonitor.Models.Db l = new HostMonitor.Models.Db();
    var computadores = l.Devices.Where(c => c.deviceName == "Desktop").Count();

    Boolean online(string comunicação)
    {
        string data = System.DateTime.Now.ToShortDateString();

        TimeSpan tempoAtendHoras = Convert.ToDateTime(data) - Convert.ToDateTime(comunicação);
        if (tempoAtendHoras.Days == 0)
        {

            if (tempoAtendHoras.Hours <= 1)
            {
                if (tempoAtendHoras.Minutes <= 30)
                {
                    return true;
                }
                else
                {
                    return false;
                }
            }
            else
            {
                return false;
            }
        }
        else
        {
            return false;
        }




    }
    int  rt()
    {

        string data = System.DateTime.Now.ToShortDateString();
        int hostsoff = 0;
        var hosts = l.Host.ToList();
        for (int i= 0; i < l.Host.Count();i++)
        {
           

            if ( online(hosts[i].hostComunication)==true)
            {
                hostsoff++;
            }
        }


        return hostsoff;
    }

    int off = rt();
    int on = l.Host.Count() - off;

    int pcoff = 100 / l.Host.Count() * off;

    int pcon = 100 / l.Host.Count() * on;



}
<link href="~/Content/index.css" rel="stylesheet" type="text/css" />


<br />
<br />
<br />
  
        <left><div id="chartContainerl" class="op1" style="height: 300px;width:40%"></div></left>
 

   
        <left><div id="chartContainerr" class="op2" style="height: 300px;width:40%"></div></left>








<br />
<br />

<br />
<br />

<br />

<br />
<br />

<br />
<br />

<br />
<br />

<br />
<br />

<br />
<br />

<br />

<br />
<br />
  
   @* <h1>ASP.NET</h1>
  
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

*@







<div class="row">





    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <div class="jumbotront">
     

        <script type="text/javascript">
            window.onload = function () {
              
                var optionsleft = {
                    title: {
                        text: "Tipos de Dispositivos"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 45,
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} ({y})",
                        yValueFormatString: "#,##0.#" % "",
                        dataPoints: [
                            { label: "Computadores", y: 50 },
                            { label: "Dispositivos moveis", y: 50 }
                
                        ]
                    }]
                };
                $("#chartContainerl").CanvasJSChart(optionsleft);


                var optionsrigth = {
                    title: {
                        text: "Dispositivos Cadastrados @l.Host.Count()"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 45,
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabel: "{label} ({y})",
                        yValueFormatString: "#,##0.#" % "",
                        dataPoints: [
                            { label: "Online @off", y: @pcon },
                            { label: "Ofline @on", y: @pcoff }
                        ]
                    }]
                };
                $("#chartContainerr").CanvasJSChart(optionsrigth);

      

            }
                
          
        </script>

        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    </div>

}
