<?xml version="1.0"?>
<configs>
  <config>
    <ccid>4</ccid>
    <ccname>Meu centro de custo</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>-</device>
    <devicename>-</devicename>
  </config>
  <config>
    <ccid>2004</ccid>
    <ccname>luis</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>-</device>
    <devicename>-</devicename>
  </config>
  <config>
    <ccid>2005</ccid>
    <ccname>ghyt</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>-</device>
    <devicename>-</devicename>
  </config>
  <config>
    <ccid>-</ccid>
    <ccname>-</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>1</device>
    <devicename>Dispositivo Movel</devicename>
  </config>
  <config>
    <ccid>-</ccid>
    <ccname>-</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>2</device>
    <devicename>PC</devicename>
  </config>
  <config>
    <ccid>-</ccid>
    <ccname>-</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>3</device>
    <devicename>IPAD</devicename>
  </config>
  <config>
    <ccid>-</ccid>
    <ccname>-</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>4</device>
    <devicename>teste</devicename>
  </config>
  <config>
    <ccid>-</ccid>
    <ccname>-</ccname>
    <serverip>-</serverip>
    <servername>-</servername>
    <time>-</time>
    <device>1002</device>
    <devicename>TV</devicename>
  </config>
</configs>